.login-page-container {
  background: #ddc6ef;
  min-height: 100vh;
}
.button-login{
  background-color: #410363;
  border-color: #410363;
}
.button-login:hover{
  background-color: #666;
    border-color: #410363;

}
.login-card {
  width: 450px;
  border-radius: 14px;
  border: none;
}

.login-icon-wrapper {
  width: 70px;
  height: 70px;
  background: #33005c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.login-main-icon {
  color: white;
  font-size: 32px;
}

.login-title {
  font-size: 28px;
  font-weight: bold;
}

.login-subtitle {
  font-size: 15px;
  color: #666;
}

.register-link {
  color: #c71d1d;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

input.form-control {
  padding: 10px;
}

.small-text-login {
  font-size: 14px;
}
